<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

	<!--CSS読込-->
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/mypage/mypage.css}">
	<!--JS読込-->
	<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
	
<title>詳細</title>
	<style>
		.expense-table {
		    min-width: 800px; /* 親より広く */
		    margin: 0 auto;
		    border-collapse: collapse;
		}
		table {
		       width: 50%; /* テーブルの幅を調整 */
		       margin: 0 auto; /* テーブルを中央に配置 */
		       border-collapse: collapse;
		}
		th, td {
		    text-align: center; /* セル内を中央揃え */
		    padding: 10px; /* セル内の余白 */
		}
		th {
		    background-color: #f2f2f2; /* ヘッダーセルの背景色 */
		}
		.headertable{
			width: 30%; /* テーブルの幅を調整 */
			margin: 0 auto; /* テーブルを中央に配置 */
		}
		.headerth{
			background-color: #f8f9fa;
			/* ヘッダーセルの背景色 */
		}
		.table-title {
		    margin-top: 30px;
		    margin-bottom: 10px;
		    font-weight: bold;
		    font-size: 1.1rem;
		}
	</style>
</head>
<body class="bg-light">
	
	<!-- ヘッダー部分 -->
	<div class="position-fixed top-0 end-0 bg-white border-bottom shadow-sm w-100 d-flex justify-content-end" style="z-index: 1050; padding: 0.5rem;">
	  <p class="mb-0 me-3 mr-2">ユーザー名：<span th:text="${session.userName}">氏名</span></p>
	  <a href="/mypage" class="mb-0 text-primary mr-2" style="cursor: pointer; text-decoration: none;">戻る</a>
	  <a href="/logout" class="mb-0 text-primary mr-2" style="cursor: pointer; text-decoration: none;">ログアウト</a>
	</div>

	<!-- スペース用のダミーdiv -->
	 <div style="height: 80px;"></div>
	
	 <table class="info-table table-bordered" 
	        style="margin: 0 auto; text-align: left; border-spacing: 0; border-collapse: collapse;">
	  <tr>
	    <th class="headerth">申請タイトル</th>
	    <td th:text="${headerInfo.expenseMonth}"></td>
	  </tr>
	  <tr th:if="${headerInfo != null and headerInfo.createdDate != null}">
	    <th class="headerth">入力日</th>
	    <td th:text="${#temporals.format(headerInfo.createdDate, 'yyyy/MM/dd')}"></td>
	  </tr>
	  <tr th:if="${headerInfo != null and headerInfo.submissionDate != null}">
	    <th class="headerth">申請日</th>
	    <td th:text="${#temporals.format(headerInfo.submissionDate, 'yyyy/MM/dd')}"></td>
	  </tr>
	  <tr th:if="${headerInfo != null and headerInfo.paymentDate != null}">
	    <th class="headerth">支払日</th>
	    <td th:text="${#temporals.format(headerInfo.paymentDate, 'yyyy/MM/dd')}"></td>
	  </tr>
	  <tr th:if="${headerInfo != null and headerInfo.approvalStatus != null}">
	    <th class="headerth">申請可否</th>
	    <td>
	      <span th:if="${headerInfo.approvalStatus == 0}">未申請</span>
	      <span th:if="${headerInfo.approvalStatus == 1}">却下</span>
	      <span th:if="${headerInfo.approvalStatus == 2}">支払済</span>
	      <span th:if="${headerInfo.approvalStatus == 3}">申請中</span>
	    </td>
	  </tr>
	</table>
	
	<script th:if="${confirmMessage != null}">
		alert('[[${confirmMessage}]]');
	</script>
	
	<!-- スペース用のダミーdiv -->
	 <div style="height: 20px;"></div>
		
	<h4 th:text="'合算金額：' + ${#numbers.formatInteger(totalAmount, 1, 'COMMA')} + '円'"></h4>
	<form th:action="@{/mypage}" method="post" th:object="${appForm}">
		<div class="d-flex justify-content-start">
			<!-- 申請・保存・削除ボタン：申請可能な状態 -->
			<div th:if="${(checkAppStatus == null or checkAppStatus == 0) and selectApplicationButton == 1}">
			    <button type="submit" class="btn btn-primary mr-2" name="action" value="apply">申請</button>
			    <button type="submit" class="btn btn-secondary mr-2" name="action" value="register">保存</button>
			    <button type="submit" class="btn btn-danger" name="action" value="delete">削除</button>
			</div>

			<!-- 保存・削除ボタン＋申請不可メッセージ：保存はできるが申請はまだ -->
			<div th:if="${(checkAppStatus == null or checkAppStatus == 0) and (selectApplicationButton == null or selectApplicationButton == 0)}">
			    <p>保存をすると申請可能になります</p>
			    <button type="submit" class="btn btn-secondary mr-2" name="action" value="register">保存</button>
			    <button type="submit" class="btn btn-danger" name="action" value="delete">削除</button>
			</div>

			<!-- 申請済みメッセージのみ表示 -->
			<div th:if="${checkAppStatus == 1}">
			    <p>すでに申請が行われています。</p>
			</div>
		</div>
			
	<!--申請内容選択部分-->
	<div class="custom-container" style="padding: 0 15px;">
	  <h4 class="table-title">単発交通費</h4>

	  <div th:if="${checkAppStatus == null or checkAppStatus == 0}">
	    <button type="button" class="btn btn-outline-secondary" onclick="handleSTAddClick()">追加</button>
	    <button type="button" class="btn btn-outline-secondary" onclick="handleCopyClick()">コピー</button>
	  </div>

	  <div class="table-responsive">
	    <table class="expense-table table table-bordered">
			<thead>
			    <tr>
					<th></th>
			        <th>利用日</th>
			        <th>利用交通機関</th>
					<th>利用区間</th>
					<th>往復or片道</th>
					<th>利用金額</th>
					<th>目的</th>						
			    </tr>
			</thead>
			<tbody>
				<tr th:each="getST : ${getSTDetails}">
					<td>
						<input type="checkbox" name="checkboxID" th:field="*{checkboxID}" th:value="${getST.detailId}"
						th:attr="
						    data-usage-date=${#temporals.format(getST.usageDate, 'yyyy/MM/dd')},
						    data-transportation=${getST.transportationFacilities},
						    data-route=${getST.route},
						    data-round-trip-flag=${getST.roundTripFlag == 1 ? '1' : '2'},
						    data-amount=${getST.amount},
						    data-purpose=${getST.purpose},
						    data-expense-type=${getST.expenseType},
						    data-detail-id=${getST.detailId}
						"/>
					</td>
					<td><span th:text="${getST.usageDate != null ? #temporals.format(getST.usageDate, 'yyyy/MM/dd') : '日付未設定'}"></span></td>
					<td><span th:text="${getST.transportationFacilities}"></span></td>
					<td><span th:text="${getST.route}"></span></td>
					<td>
						<span th:if="${getST.roundTripFlag == 1}">片道</span>
						<span th:if="${getST.roundTripFlag == 2}">往復</span>
					</td>
					<td><span th:text="${getST.amount}"></span></td>
					<td><span th:text="${getST.purpose}"></span></td>
				</tr>
			</tbody>
		</table>
		  </div>
		</div>
		
		<div class="custom-container" style="padding: 0 15px;">
		  <h4 class="table-title">定期交通費</h4>

		  <div th:if="${checkAppStatus == null or checkAppStatus == 0}">
		    <button type="button" class="btn btn-outline-secondary" onclick="handleCTAddClick()">追加</button>
		    <button type="button" class="btn btn-outline-secondary" onclick="handleCopyClick()">コピー</button>
		  </div>

		  <div class="table-responsive">
		    <table class="expense-table table table-bordered">
		    <thead>
		      <tr>
		        <th></th>
		        <th>適用開始日</th>
		        <th>適用終了日</th>
		        <th>利用交通機関</th>
		        <th>利用区間</th>
		        <th>利用金額</th>
		        <th>目的</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr th:each="getCT : ${getCTDetails}">
		        <td>
		          <input type="checkbox" name="checkboxID" th:field="*{checkboxID}" th:value="${getCT.detailId}"
		            th:attr="
		              data-valid-from=${#temporals.format(getCT.validFrom, 'yyyy/MM/dd')},
		              data-valid-until=${#temporals.format(getCT.validUntil, 'yyyy/MM/dd')},
		              data-transportation=${getCT.transportationFacilities},
		              data-route=${getCT.route},
		              data-amount=${getCT.amount},
		              data-purpose=${getCT.purpose},
		              data-expense-type=${getCT.expenseType},
		              data-detail-id=${getCT.detailId}
		            " />
		        </td>
		        <td><span th:text="${getCT.validFrom != null ? #temporals.format(getCT.validFrom, 'yyyy/MM/dd') : '日付未設定'}"></span></td>
		        <td><span th:text="${getCT.validUntil != null ? #temporals.format(getCT.validUntil, 'yyyy/MM/dd') : '日付未設定'}"></span></td>
		        <td><span th:text="${getCT.transportationFacilities}"></span></td>
		        <td><span th:text="${getCT.route}"></span></td>
		        <td><span th:text="${getCT.amount}"></span></td>
		        <td><span th:text="${getCT.purpose}"></span></td>
		      </tr>
		    </tbody>
		  </table>
		</div>
		</div>


		<div class="custom-container" style="padding: 0 15px;">
		  <h4 class="table-title">業務経費</h4>

		  <div th:if="${checkAppStatus == null or checkAppStatus == 0}">
		    <button type="button" class="btn btn-outline-secondary" onclick="handleBEAddClick()">追加</button>
		    <button type="button" class="btn btn-outline-secondary" onclick="handleCopyClick()">コピー</button>
		  </div>

		  <div class="table-responsive">
		    <table class="expense-table table table-bordered">
		    <thead>
		      <tr>
		        <th></th>
		        <th>利用日</th>
		        <th>項目</th>
		        <th>利用金額</th>
		        <th>目的</th>
		        <th>領収書</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr th:each="getBE : ${getBEDetails}">
		        <td>
		          <input type="checkbox" name="checkboxID" th:field="*{checkboxID}" th:value="${getBE.detailId}"
		            th:attr="
		              data-usage-date=${#temporals.format(getBE.usageDate, 'yyyy/MM/dd')},
		              data-other-expense-item=${getBE.otherExpenseItem},
		              data-amount=${getBE.amount},
		              data-purpose=${getBE.purpose},
		              data-expense-type=${getBE.expenseType},
		              data-detail-id=${getBE.detailId}
		            " />
		        </td>
		        <td><span th:text="${getBE.usageDate != null ? #temporals.format(getBE.usageDate, 'yyyy/MM/dd') : '日付未設定'}"></span></td>
		        <td><span th:text="${getBE.otherExpenseItem}"></span></td>
		        <td><span th:text="${getBE.amount}"></span></td>
		        <td><span th:text="${getBE.purpose}"></span></td>
		        <td>
		          <span th:if="${getBE != null and getBE.base64Image != null}">
		            <img th:src="'data:image/png;base64,' + ${getBE.base64Image}"
		              alt="領収書"
		              style="max-width: 100px; max-height: 100px; cursor: pointer;"
		              th:attr="data-img='data:image/png;base64,' + ${getBE.base64Image}"
		              onclick="openImage(this)" />
		          </span>
		          <span th:if="${getBE == null or getBE.base64Image == null}">-</span>
		        </td>
		      </tr>
		    </tbody>
		  </table>
		</div>
		</div>
	</form>
	
	<!-- スペース用のダミーdiv -->
	 <div style="height: 20px;"></div>
	
	<!-- ② モーダル本体(単体交通費ver) -->
	<div class="modal fade" id="stModal" tabindex="-1" aria-labelledby="stModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg"> <!-- modal-lgで少し大きめに -->
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="stModalLabel">単発交通費申請</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div th:if="${message}" class="alert alert-success" role="alert">
						<span th:text="${message}"></span>
					</div>
					<!-- ここに交通費フォームを入れる -->
					<form th:action="@{/mypage/save-single}" method="post" th:object="${singleTransportForm}">

						<div class="mb-3">
						  <div class="d-flex align-items-center mb-1">
						    <label for="usageDate" class="form-label mb-0 mr-2">利用日</label>
						    <div th:if="${#fields.hasErrors('usageDate')}" class="text-danger small">
						      <span th:errors="*{usageDate}"></span>
						    </div>
						  </div>
						  <input type="date" class="form-control" id="st_usageDate" name="usageDate"
						         th:field="*{usageDate}">
						</div>
						
						<div class="mb-3">
						  <div class="d-flex align-items-center mb-1">
						    <label for="transportationFacilities" class="form-label mb-0 mr-2">利用交通機関</label>
						    <div th:if="${#fields.hasErrors('transportationFacilities')}" class="text-danger small">
						      <span th:errors="*{transportationFacilities}"></span>
						    </div>
						  </div>
						  <input type="text" class="form-control" id="st_transportationFacilities" name="transportationFacilities"
						         th:field="*{transportationFacilities}" placeholder="例：大阪メトロ、環状線">
						</div>

						<div class="mb-3">
						  <div class="d-flex align-items-center mb-1">
						    <label for="route" class="form-label mb-0 mr-2">利用区間</label>
						    <div th:if="${#fields.hasErrors('route')}" class="text-danger small">
						      <span th:errors="*{route}"></span>
						    </div>
						  </div>
						  <input type="text" class="form-control" id="st_route" name="route"
						         th:field="*{route}" placeholder="例：西梅田～肥後橋">
						</div>
						
						<div class="mb-3">
						  <div class="d-flex align-items-center mb-1">
						    <label for="roundTripFlag" class="form-label mb-0 mr-2">片道 or 往復</label>
						    <div th:if="${#fields.hasErrors('roundTripFlag')}" class="text-danger small">
						      <span th:errors="*{roundTripFlag}"></span>
						    </div>
						  </div>
						  <select class="form-select" id="roundTripFlag" name="roundTripFlag"
						  	th:field="*{roundTripFlag}">
						  	<option value="">選択してください</option>
						  	<option value="1">片道</option>
						  	<option value="2">往復</option>
						  </select>
						</div>

						<div class="mb-3">
						  <div class="d-flex align-items-center mb-1">
						    <label for="amount" class="form-label mb-0 mr-2">利用金額</label>
						    <div th:if="${#fields.hasErrors('amount')}" class="text-danger small">
						      <span th:errors="*{amount}"></span>
						    </div>
						  </div>
						  <input type="number" class="form-control" id="st_amount" name="amount"
						         th:field="*{amount}">
						</div>
						
						<div class="mb-3">
						  <div class="d-flex align-items-center mb-1">
						    <label for="purpose" class="form-label mb-0 mr-2">利用目的</label>
						    <div th:if="${#fields.hasErrors('purpose')}" class="text-danger small">
						      <span th:errors="*{purpose}"></span>
						    </div>
						  </div>
						  <input type="text" class="form-control" id="st_purpose" name="purpose"
						         th:field="*{purpose}" placeholder="例：事務所へ出社">
						</div>
						
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">追加</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
				</div>
				</form>
			</div>
		</div>
	</div>

	<!-- ② モーダル本体(定期交通費ver) -->
	<div class="modal fade" id="ctModal" tabindex="-1" aria-labelledby="ctModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg"> <!-- modal-lgで少し大きめに -->
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="ctModalLabel">定期交通費申請</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div th:if="${message}" class="alert alert-success" role="alert">
						<span th:text="${message}"></span>
					</div>
					<!-- ここに交通費フォームを入れる -->
					<form th:action="@{/mypage/save-commute}" method="post" th:object="${commuteTransportForm}">
						
						<div class="mb-3">
						  <div class="d-flex align-items-center mb-1">
						    <label for="validFrom" class="form-label mb-0 mr-2">開始日</label>
						    <div th:if="${#fields.hasErrors('validFrom')}" class="text-danger small">
						      <span th:errors="*{validFrom}"></span>
						    </div>
						  </div>
						  <input type="date" class="form-control" id="validFrom" name="validFrom"
						         th:field="*{validFrom}">
						</div>
						
						<div class="mb-3">
						  <div class="d-flex align-items-center mb-1">
						    <label for="validUntil" class="form-label mb-0 mr-2">終了日</label>
						    <div th:if="${#fields.hasErrors('validUntil')}" class="text-danger small">
						      <span th:errors="*{validUntil}"></span>
						    </div>
						  </div>
						  <input type="date" class="form-control" id="validUntil" name="validUntil"
						         th:field="*{validUntil}">
						</div>

						<div class="mb-3">
						  <div class="d-flex align-items-center mb-1">
						    <label for="transportationFacilities" class="form-label mb-0 mr-2">利用交通機関</label>
						    <div th:if="${#fields.hasErrors('transportationFacilities')}" class="text-danger small">
						      <span th:errors="*{transportationFacilities}"></span>
						    </div>
						  </div>
						  <input type="text" class="form-control" id="ct_transportationFacilities" name="transportationFacilities"
						         th:field="*{transportationFacilities}" placeholder="例：大阪メトロ、環状線">
						</div>

						<div class="mb-3">
						  <div class="d-flex align-items-center mb-1">
						    <label for="route" class="form-label mb-0 mr-2">利用区間</label>
						    <div th:if="${#fields.hasErrors('route')}" class="text-danger small">
						      <span th:errors="*{route}"></span>
						    </div>
						  </div>
						  <input type="text" class="form-control" id="ct_route" name="route"
						         th:field="*{route}" placeholder="例：西梅田～肥後橋">
						</div>
						
						<div class="mb-3">
						  <div class="d-flex align-items-center mb-1">
						    <label for="amount" class="form-label mb-0 mr-2">利用金額</label>
						    <div th:if="${#fields.hasErrors('amount')}" class="text-danger small">
						      <span th:errors="*{amount}"></span>
						    </div>
						  </div>
						  <input type="number" class="form-control" id="ct_amount" name="amount"
						         th:field="*{amount}">
						</div>

						<div class="mb-3">
						  <div class="d-flex align-items-center mb-1">
						    <label for="purpose" class="form-label mb-0 mr-2">利用目的</label>
						    <div th:if="${#fields.hasErrors('purpose')}" class="text-danger small">
						      <span th:errors="*{purpose}"></span>
						    </div>
						  </div>
						  <input type="text" class="form-control" id="ct_purpose" name="purpose"
						         th:field="*{purpose}" placeholder="例：事務所へ出社">
						</div>
						
				</div>
				<div class="modal-footer">

					<button type="submit" class="btn btn-primary">追加</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
				</div>
				</form>
			</div>
		</div>
	</div>

	<!-- ② モーダル本体(業務経費ver) -->
	<div class="modal fade" id="beModal" tabindex="-1" aria-labelledby="beModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg"> <!-- modal-lgで少し大きめに -->
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="beModalLabel">業務経費申請</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div th:if="${message}" class="alert alert-success" role="alert">
						<span th:text="${message}"></span>
					</div>
					<!-- ここに交通費フォームを入れる -->
					<form th:action="@{/mypage/save-business}" method="post" th:object="${businessExpenseForm}"
						enctype="multipart/form-data">

						<div class="mb-3">
						  <div class="d-flex align-items-center mb-1">
						    <label for="usageDate" class="form-label mb-0 mr-2">利用日</label>
						    <div th:if="${#fields.hasErrors('usageDate')}" class="text-danger small">
						      <span th:errors="*{usageDate}"></span>
						    </div>
						  </div>
						  <input type="date" class="form-control" id="be_usageDate" name="usageDate"
						         th:field="*{usageDate}">
						</div>
						
						<div class="mb-3">
						  <div class="d-flex align-items-center mb-1">
						    <label for="otherExpenseItem" class="form-label mb-0 mr-2">項目</label>
						    <div th:if="${#fields.hasErrors('otherExpenseItem')}" class="text-danger small">
						      <span th:errors="*{otherExpenseItem}"></span>
						    </div>
						  </div>
						  <input type="text" class="form-control" id="otherExpenseItem" name="otherExpenseItem"
						         th:field="*{otherExpenseItem}" placeholder="例：書籍代、健康診断代">
						</div>
						
						<div class="mb-3">
						  <div class="d-flex align-items-center mb-1">
						    <label for="amount" class="form-label mb-0 mr-2">利用金額</label>
						    <div th:if="${#fields.hasErrors('amount')}" class="text-danger small">
						      <span th:errors="*{amount}"></span>
						    </div>
						  </div>
						  <input type="number" class="form-control" id="be_amount" name="amount"
						         th:field="*{amount}">
						</div>

						<div class="mb-3">
						  <div class="d-flex align-items-center mb-1">
						    <label for="purpose" class="form-label mb-0 mr-2">利用目的</label>
						    <div th:if="${#fields.hasErrors('purpose')}" class="text-danger small">
						      <span th:errors="*{purpose}"></span>
						    </div>
						  </div>
						  <input type="text" class="form-control" id="be_purpose" name="purpose"
						         th:field="*{purpose}" placeholder="例：「書籍名」、○○の学習のため">
						</div>
						
						<!-- 領収書ファイルアップロード欄 -->
						<div class="mb-3">
						  <div class="d-flex align-items-center mb-1">
						    <label for="receipt" class="form-label mb-0 mr-2">領収書アップロード</label>
						    <div th:if="${#fields.hasErrors('receiptValid')}" class="text-danger small">
						      <span th:errors="*{receiptValid}"></span>
						    </div>
						  </div>
						  <input type="file" class="form-control" id="receipt" name="receipt" accept="image/*,.pdf">
						</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">追加</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
				</div>
				</form>
			</div>
		</div>
	</div>
	
	<!-- 単発交通費モーダル再表示用 -->
	<script th:if="${showStModal}">
		window.addEventListener('load', function () {
			var modal = new bootstrap.Modal(document.getElementById('stModal'));
			modal.show();
		});
	</script>

	<!-- 定期交通費モーダル再表示用 -->
	<script th:if="${showCtModal}">
		window.addEventListener('load', function () {
			var modal = new bootstrap.Modal(document.getElementById('ctModal'));
			modal.show();
		});
	</script>

	<!-- 業務経費モーダル再表示用 -->
	<script th:if="${showBeModal}">
		window.addEventListener('load', function () {
			var modal = new bootstrap.Modal(document.getElementById('beModal'));
			modal.show();
		});
	</script>
	
	<!--「追加」ボタン押下（単発交通費用）-->
	<script>
	  function handleSTAddClick() {
		
	    // フォームの中身をクリア（初期値）
	    document.getElementById("st_usageDate").value = "";
	    document.getElementById("st_transportationFacilities").value = "";
	    document.getElementById("st_route").value = "";
	    document.getElementById("roundTripFlag").value = "2"; // または初期値に
	    document.getElementById("st_amount").value = "";
	    document.getElementById("st_purpose").value = "";

		// エラーメッセージを非表示にする
		$('.text-danger').hide();
		
	    // モーダル表示
	    $('#stModal').modal('show');
	  }
	</script>

	<!--「追加」ボタン押下（定期交通費用）-->
	<script>
	  function handleCTAddClick() {

	    // フォームの中身をクリア（初期値）
	    document.getElementById("validFrom").value = "";
		document.getElementById("validUntil").value = "";
	    document.getElementById("ct_transportationFacilities").value = "";
	    document.getElementById("ct_route").value = "";
	    document.getElementById("ct_amount").value = "";
	    document.getElementById("ct_purpose").value = "";

		// エラーメッセージを非表示にする
		$('.text-danger').hide();
		
	    // モーダル表示
	    $('#ctModal').modal('show');
	  }
	</script>

	<!--「追加」ボタン押下（業務経費用）-->
	<script>
	  function handleBEAddClick() {

	    // フォームの中身をクリア（初期値）
	    document.getElementById("be_usageDate").value = "";
	    document.getElementById("otherExpenseItem").value = "";
	    document.getElementById("be_amount").value = "";
	    document.getElementById("be_purpose").value = "";

		// エラーメッセージを非表示にする
		$('.text-danger').hide();
		
	    // モーダル表示
	    $('#beModal').modal('show');
	  }
	</script>
	
	<!--「コピー」ボタン押下(共通)-->
	<script>
	function handleCopyClick() {
	  const selectedCheckboxes  = document.querySelectorAll('input[name="checkboxID"]:checked');
	  if (selectedCheckboxes.length == 0) {
	    alert("コピーする明細を選択してください。");
	    return;
	  }
	  
	  if (selectedCheckboxes.length > 1) {
	    alert("コピー対象は1件のみ選択してください。");
	    return;
	  }
	  
	  const selected = selectedCheckboxes[0];
	  
	  if(selected.dataset.expenseType == "1"){
		// データ取得
		//const usageDate = selected.dataset.usageDate || "";
		const transportation = selected.dataset.transportation || "";
		const route = selected.dataset.route || "";
		const roundTripFlag = selected.dataset.roundTripFlag || "";
		const amount = selected.dataset.amount || "";
		const purpose = selected.dataset.purpose || "";
		
		// フォームへ反映
		document.getElementById("st_usageDate").value = "";
		document.getElementById("st_transportationFacilities").value = transportation;
		document.getElementById("st_route").value = route;
		document.getElementById("roundTripFlag").value = roundTripFlag;
		document.getElementById("st_amount").value = amount;
		document.getElementById("st_purpose").value = purpose;
		//document.getElementById("st_detailId").value = ""; // 明細IDがないので空
		

		// モーダルを表示（Bootstrap 4）
		$('#stModal').modal('show');

	  }else if(selected.dataset.expenseType == "2"){
		// データ取得
		//const validFrom = selected.dataset.validFrom || "";
		//const validUntil = selected.dataset.validUntil || "";
		const transportation = selected.dataset.transportation || "";
		const route = selected.dataset.route || "";
		const amount = selected.dataset.amount || "";
		const purpose = selected.dataset.purpose || "";
		
		// フォームへ反映
		document.getElementById("validFrom").value = "";
		document.getElementById("validUntil").value = "";
		document.getElementById("ct_transportationFacilities").value = transportation;
		document.getElementById("ct_route").value = route;
		document.getElementById("ct_amount").value = amount;
		document.getElementById("ct_purpose").value = purpose;
		//document.getElementById("ct_detailId").value = ""; // 明細IDがないので空

		// モーダルを表示（Bootstrap 4）
		$('#ctModal').modal('show');
	  
	  }else if(selected.dataset.expenseType == "3"){
		// データ取得
		//const usageDate = selected.dataset.usageDate || "";
		const otherExpenseItem = selected.dataset.otherExpenseItem || "";
		const amount = selected.dataset.amount || "";
		const purpose = selected.dataset.purpose || "";

		// フォームへ反映
		document.getElementById("be_usageDate").value = "";
		document.getElementById("otherExpenseItem").value = otherExpenseItem;
		document.getElementById("be_amount").value = amount;
		document.getElementById("be_purpose").value = purpose;
		//document.getElementById("be_detailId").value = ""; // 明細IDがないので空

		// モーダルを表示（Bootstrap 4）
		$('#beModal').modal('show');
	  }
	}
	</script>
	
	<!--画像クリックした時-->
	<script>
	function openImage(el) {
	  const imageUrl = el.getAttribute('data-img');
	  if (imageUrl) {
	    const newWindow = window.open();
	    newWindow.document.write(`<img src="${imageUrl}" style="max-width:100%;height:auto;">`);
	  } else {
	    alert("画像が取得できませんでした");
	  }
	}
	</script>
	
</body>
</html>