@charset "UTF-8";
.form-login{
	width:100%;
	max-width:330px;
	padding:15px;
	margin:auto;
}

.application-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 1rem;
  background-color: #fdfdfd;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.05);
}