<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

	<!--CSS読込-->
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/login/login.css}">
	<!--JS読込-->
	<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
	
<title>パスワード変更</title>
</head>
<body class="bg-light">
	
	<script th:if="${confirmMessage != null}">
		alert('[[${confirmMessage}]]');
	</script>
	
	<div class="text-center">

		<form method="post" th:action="@{/login/changePass}" th:object="${userForm}" class="form-login">
			<h2>パスワード変更</h2>
			
			<!-- ユーザーID -->
			<label>ユーザー名</label>
			<div class="form-group">
			    <input type="text" th:field="*{userId}" class="form-control"/>
			    <p th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}" class="text-danger small"></p>
			</div>

			<!-- 現在のパスワード -->
			<label>現在のパスワード</label>
			<div class="form-group">
			    <input type="password" th:field="*{nowPassword}" class="form-control"/>
			    <p th:if="${#fields.hasErrors('nowPassword')}" th:errors="*{nowPassword}" class="text-danger small"></p>
			</div>

			<!-- 新しいパスワード -->
			<label>新しいパスワード</label>
			<div class="form-group">
			    <input type="password" th:field="*{newPassword}" class="form-control"/>
			    <p th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" class="text-danger small"></p>
			</div>

			<!-- 確認用新しいパスワード -->
			<label>新しいパスワード（※確認用）</label>
			<div class="form-group">
			    <input type="password" th:field="*{newPasswordAgain}" class="form-control"/>
			    <p th:if="${#fields.hasErrors('newPasswordAgain')}" th:errors="*{newPasswordAgain}" class="text-danger small"></p>
			</div>
			
			<!-- クラスレベルのバリデーションエラー（新パスワード一致チェック） -->
			<!--<div th:if="${#fields.hasGlobalErrors()}" th:errors="*{}" class="text-danger small"></div>-->
			
			<input type="submit" value="確定" class="btn btn-primary"/>	
		</form>
		
		<a th:href="@{/login}">ログイン画面へ戻る</a>
		
	</div>
</body>
</html>