<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">

	<!--CSS読込-->
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" th:href="@{/css/application/application.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
	<!--JS読込-->
	<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>

	<title>新規申請</title>
	<style>
		.expense-table {
		    min-width: 800px; /* 親より広く */
		    margin: 0 auto;
		    border-collapse: collapse;
		}
		table {
			width: 50%;
			/* テーブルの幅を調整 */
			margin: 0 auto;
			/* テーブルを中央に配置 */
			border-collapse: collapse;
		}
		th,
		td {
			text-align: center;
			/* セル内を中央揃え */
			padding: 10px;
			/* セル内の余白 */
		}
		th {
			background-color: #f2f2f2;
			/* ヘッダーセルの背景色 */
		}
		.headerth{
		    background-color: #f8f9fa;
			/* ヘッダーセルの背景色 */
		}
		.table-title {
		    margin-top: 30px;
		    margin-bottom: 10px;
		    font-weight: bold;
		    font-size: 1.1rem;
		}
		.info-wrapper {
		    background-color: #fdfdfd;
		    border: 1px solid #ddd;
		    padding: 16px;
		    border-radius: 6px;
		    max-width: 800px;
		    margin: 0 auto 20px auto;
		}
		.summary-table {
		  width: 400px;
		  margin: 0 auto;
		  border-collapse: collapse;
		  font-size: 14px;
		  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
		  border-radius: 8px;
		  overflow: hidden;
		}

		.summary-table th,
		.summary-table td {
		  padding: 8px 12px;
		  text-align: left;
		  border-bottom: 1px solid #ddd;
		}

		.summary-table th {
		  background-color: #f8f9fa;
		  font-weight: 600;
		  width: 40%;
		  color: #333;
		}

		.summary-table td {
		  background-color: #fff;
		}

	</style>
</head>

<body class="bg-light">
	
	<!-- ヘッダー部分 -->
	<div class="position-fixed top-0 end-0 bg-white border-bottom shadow-sm w-100 d-flex justify-content-end" style="z-index: 1050; padding: 0.5rem;">
	  <!--<p class="mb-0 me-3 mr-2"><span th:text="${session.userName}">氏名</span></p>-->
	  <a href="/mypage" class="mb-0 text-primary mr-2" style="cursor: pointer; text-decoration: none;">戻る</a>
	  <a href="/logout" class="mb-0 text-primary mr-2" style="cursor: pointer; text-decoration: none;">ログアウト</a>
	</div>
	
	<!-- スペース用のダミーdiv -->
	 <div style="height: 80px;"></div>
	
	<div class="text-center">
	    <form id="titleForm" th:action="@{/application/saveTransport}" method="post">
	        <!-- セッションにexpenseMonthがなければ、入力フォームを表示 -->
	        <div th:unless="${expenseMonth}">
	            <label for="expenseMonth">申請タイトル：</label>
	            <input type="text" id="expenseMonth" name="expenseMonth">
	            <button type="submit" name="action" value="expenseMonthOK">確定</button>
	        </div>

	        <!-- テーブルで情報を表示 -->
			<table class="summary-table">
			  <tr th:if="${expenseMonth != null}">
			    <th>申請タイトル</th>
			    <td th:text="${expenseMonth}"></td>
			  </tr>
			  <tr th:if="${headerInfo != null and headerInfo.createdDate != null}">
			    <th>入力日</th>
			    <td th:text="${#temporals.format(headerInfo.createdDate, 'yyyy/MM/dd')}"></td>
			  </tr>
			  <tr th:if="${headerInfo != null and headerInfo.submissionDate != null}">
			    <th>申請日</th>
			    <td th:text="${#temporals.format(headerInfo.submissionDate, 'yyyy/MM/dd')}"></td>
			  </tr>
			  <tr th:if="${headerInfo != null and headerInfo.paymentDate != null}">
			    <th>支払日</th>
			    <td th:text="${#temporals.format(headerInfo.paymentDate, 'yyyy/MM/dd')}"></td>
			  </tr>
			  <tr th:if="${headerInfo != null and headerInfo.approvalStatus != null}">
			    <th>ステータス</th>
			    <td>
			      <span th:if="${headerInfo.approvalStatus == 0}">未申請</span>
			      <span th:if="${headerInfo.approvalStatus == 1}">却下</span>
			      <span th:if="${headerInfo.approvalStatus == 2}">支払済</span>
			      <span th:if="${headerInfo.approvalStatus == 3}">申請中</span>
			    </td>
			  </tr>
			</table>
	    </form>
	</div>

	
	<script th:if="${confirmMessage != null}">
		alert('[[${confirmMessage}]]');
	</script>
	
	<!-- スペース用のダミーdiv -->
	 <div style="height: 20px;"></div>

	<div th:if="${expenseMonth != null}">
		
		<div class="alert alert-info d-flex align-items-center shadow-sm px-4 py-2 mb-3"
		     style="max-width: 480px; font-size: 1.3rem; font-weight: 700; border-left: 5px solid #0d6efd;">
		  <i class="bi bi-cash-coin me-2 fs-4 text-primary"></i>
		  <div>
		    合算金額：
		    <span th:text="${#numbers.formatInteger(totalAmount ?: 0, 1, 'COMMA')} + '円'"></span>
		  </div>
		</div>

		<form id="detailForm" th:action="@{/application/saveTransport}" method="post" th:object="${appForm}">

			<div class="d-flex justify-content-start">
				<!-- 申請・保存・削除ボタン：申請可能な状態 -->
				<div th:if="${(checkAppStatus == null or checkAppStatus == 0) and selectApplicationButton == 1}">
					<button type="submit" class="btn btn-primary mr-2" name="action" value="apply">申請</button>
					<button type="submit" class="btn btn-secondary mr-2" name="action" value="register">保存</button>
					<button type="button" class="btn btn-danger" onclick="handleDeleteClick()">削除</button>
				</div>

				<!-- 保存・削除ボタン＋申請不可メッセージ：保存はできるが申請はまだ -->
				<div
					th:if="${(checkAppStatus == null or checkAppStatus == 0) and (selectApplicationButton == null or selectApplicationButton == 0)}">
					<p>保存をすると申請可能になります</p>
					<button type="submit" class="btn btn-secondary mr-2" name="action" value="register">保存</button>
					<button type="button" class="btn btn-danger" onclick="handleDeleteClick()">削除</button>
				</div>

			</div>

			<!--申請内容選択部分-->
			<div class="custom-container" style="padding: 0 15px;">
			  <h4 class="table-title">単発交通費</h4>

			  <div th:if="${checkAppStatus == null or checkAppStatus == 0}">
				<button type="button" class="btn btn-outline-secondary" onclick="handleSTAddClick()" title="追加">
				  <i class="fas fa-plus"></i> 
				</button>
				<button type="button" class="btn btn-outline-secondary" onclick="handleCopyClick()" title="コピー">
				  <i class="fas fa-copy"></i> 
			  </div>

			  <div class="table-responsive">
			    <table class="expense-table table table-bordered">
					<thead>
						<tr>
							<th></th>
							<th>利用日</th>
							<th>利用交通機関</th>
							<th>利用区間</th>
							<th>往復or片道</th>
							<th>利用金額</th>
							<th>目的</th>
						</tr>
					</thead>
					<div th:object="${appForm}">
						<tbody>
							<tr th:each="savedST : ${getSTDetails}">
								<td>
									<input type="checkbox" th:field="*{checkboxID}" th:value="${savedST.detailId}"
									th:attr="
					                   data-usage-date=${#temporals.format(savedST.usageDate, 'yyyy/MM/dd')},
					                   data-transportation=${savedST.transportationFacilities},
					                   data-route=${savedST.route},
					                   data-round-trip-flag=${savedST.roundTripFlag == 1 ? '1' : '2'},
					                   data-amount=${savedST.amount},
					                   data-purpose=${savedST.purpose},
									   data-expense-type=${savedST.expenseType},
									   data-detail-id=${savedST.detailId}
					              	 "/>
								</td>
								<td><span
										th:text="${savedST.usageDate != null ? #temporals.format(savedST.usageDate, 'yyyy/MM/dd') : '日付未設定'}"></span>
								</td>
								<td><span th:text="${savedST.transportationFacilities}"></span></td>
								<td><span th:text="${savedST.route}"></span></td>
								<td>
									<span th:if="${savedST.roundTripFlag == 1}">片道</span>
									<span th:if="${savedST.roundTripFlag == 2}">往復</span>
								</td>
								<td><span th:text="${savedST.amount}"></span></td>
								<td><span th:text="${savedST.purpose}"></span></td>
							</tr>
						</tbody>
					</div>
				</table>
				</div>
				</div>

				<div class="custom-container" style="padding: 0 15px;">
				  <h4 class="table-title">定期交通費</h4>

				  <div th:if="${checkAppStatus == null or checkAppStatus == 0}">
					<button type="button" class="btn btn-outline-secondary" onclick="handleCTAddClick()" title="追加">
					  <i class="fas fa-plus"></i> 
					</button>
					<button type="button" class="btn btn-outline-secondary" onclick="handleCopyClick()" title="コピー">
					  <i class="fas fa-copy"></i> 
				  </div>

				  <div class="table-responsive">
				    <table class="expense-table table table-bordered">
					<thead>
						<tr>
							<th></th>
							<th>適用開始日</th>
							<th>適用終了日</th>
							<th>利用交通機関</th>
							<th>利用区間</th>
							<th>利用金額</th>
							<th>目的</th>
						</tr>
					</thead>
					<div th:object="${appForm}">
						<tbody>
							<tr th:each="savedCT : ${getCTDetails}">
								<td>
									<input type="checkbox" th:field="*{checkboxID}" th:value="${savedCT.detailId}" 
									th:attr="
									    data-valid-from=${#temporals.format(savedCT.validFrom, 'yyyy/MM/dd')},
									   data-valid-until=${#temporals.format(savedCT.validUntil, 'yyyy/MM/dd')},
									    data-transportation=${savedCT.transportationFacilities},
									    data-route=${savedCT.route},
									    data-amount=${savedCT.amount},
									    data-purpose=${savedCT.purpose},
									   data-expense-type=${savedCT.expenseType},
									   data-detail-id=${savedCT.detailId}
									"/>
									<input type="hidden" name="temporaryId" th:field="*{temporaryId}"
										th:value="${savedCT.temporaryId}" />
								</td>
								<td><span
										th:text="${savedCT.validFrom != null ? #temporals.format(savedCT.validFrom, 'yyyy/MM/dd') : '日付未設定'}"></span>
								</td>
								<td><span
										th:text="${savedCT.validUntil != null ? #temporals.format(savedCT.validUntil, 'yyyy/MM/dd') : '日付未設定'}"></span>
								</td>
								<td><span th:text="${savedCT.transportationFacilities}"></span></td>
								<td><span th:text="${savedCT.route}"></span></td>
								<td><span th:text="${savedCT.amount}"></span></td>
								<td><span th:text="${savedCT.purpose}"></span></td>
							</tr>
						</tbody>
					</div>
				</table>
			</div>
			</div>

				<div class="custom-container" style="padding: 0 15px;">
				  <h4 class="table-title">業務経費</h4>

				  <div th:if="${checkAppStatus == null or checkAppStatus == 0}">
					<button type="button" class="btn btn-outline-secondary" onclick="handleBEAddClick()" title="追加">
					  <i class="fas fa-plus"></i> 
					</button>
					<button type="button" class="btn btn-outline-secondary" onclick="handleCopyClick()" title="コピー">
					  <i class="fas fa-copy"></i> 
				  </div>

				  <div class="table-responsive">
				    <table class="expense-table table table-bordered">
					<thead>
						<tr>
							<th></th>
							<th>利用日</th>
							<th>項目</th>
							<th>利用金額</th>
							<th>目的</th>
							<th>領収書</th>
						</tr>
					</thead>
					<div th:object="${appForm}">
						<tbody>
							<tr th:each="savedBE : ${getBEDetails}">
								<td>
									<input type="checkbox" th:field="*{checkboxID}" th:value="${savedBE.detailId}" 
									th:attr="
									    data-usage-date=${#temporals.format(savedBE.usageDate, 'yyyy/MM/dd')},
									    data-other-expense-item=${savedBE.otherExpenseItem},
									    data-amount=${savedBE.amount},
									    data-purpose=${savedBE.purpose},
									   data-expense-type=${savedBE.expenseType},
									   data-detail-id=${savedBE.detailId}
									"/>
									<input type="hidden" name="temporaryId" th:field="*{temporaryId}"
										th:value="${savedBE.temporaryId}" />
								</td>
								<td><span
										th:text="${savedBE.usageDate != null ? #temporals.format(savedBE.usageDate, 'yyyy/MM/dd') : '日付未設定'}"></span>
								</td>
								<td><span th:text="${savedBE.otherExpenseItem}"></span></td>
								<td><span th:text="${savedBE.amount}"></span></td>
								<td><span th:text="${savedBE.purpose}"></span></td>
								<td>
									<span th:if="${savedBE != null and savedBE.base64Image != null}">
										<img
										    th:src="'data:image/png;base64,' + ${savedBE.base64Image}"
										    alt="領収書"
										    style="max-width: 100px; max-height: 100px; cursor: pointer;"
										    th:attr="data-img='data:image/png;base64,' + ${savedBE.base64Image}"
										    onclick="openImage(this)"
										/>
									</span>
									<span th:if="${getBE == null or getBE.base64Image == null}">-</span>
								</td>
							</tr>
						</tbody>
					</div>
				</table>
			</div>
			</div>
		</form>
	</div>
	
	<!-- スペース用のダミーdiv -->
	 <div style="height: 20px;"></div>

	<!-- ② モーダル本体(単体交通費ver) -->
	<div class="modal fade" id="stModal" tabindex="-1" aria-labelledby="stModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg"> <!-- modal-lgで少し大きめに -->
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="stModalLabel">単発交通費申請</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div th:if="${message}" class="alert alert-success" role="alert">
						<span th:text="${message}"></span>
					</div>
					<!-- ここに交通費フォームを入れる -->
					<form th:action="@{/application/save-single}" method="post" th:object="${singleTransportForm}">

						<div class="mb-3">
						  <div class="d-flex align-items-center mb-1">
						    <label for="usageDate" class="form-label mb-0 mr-2">利用日</label>
						    <div th:if="${#fields.hasErrors('usageDate')}" class="text-danger small">
						      <span th:errors="*{usageDate}"></span>
						    </div>
						  </div>
						  <input type="date" class="form-control" id="st_usageDate" name="usageDate"
						         th:field="*{usageDate}">
						</div>

						<div class="mb-3">
						  <div class="d-flex align-items-center mb-1">
						    <label for="transportationFacilities" class="form-label mb-0 mr-2">利用交通機関</label>
						    <div th:if="${#fields.hasErrors('transportationFacilities')}" class="text-danger small">
						      <span th:errors="*{transportationFacilities}"></span>
						    </div>
						  </div>
						  <input type="text" class="form-control" id="st_transportationFacilities" name="transportationFacilities"
						         th:field="*{transportationFacilities}" placeholder="例：大阪メトロ、環状線">
						</div>

						<div class="mb-3">
						  <div class="d-flex align-items-center mb-1">
						    <label for="route" class="form-label mb-0 mr-2">利用区間</label>
						    <div th:if="${#fields.hasErrors('route')}" class="text-danger small">
						      <span th:errors="*{route}"></span>
						    </div>
						  </div>
						  <input type="text" class="form-control" id="st_route" name="route"
						         th:field="*{route}" placeholder="例：西梅田～肥後橋">
						</div>

						<div class="mb-3">
						  <div class="d-flex align-items-center mb-1">
						    <label for="roundTripFlag" class="form-label mb-0 mr-2">片道 or 往復</label>
						    <div th:if="${#fields.hasErrors('roundTripFlag')}" class="text-danger small">
						      <span th:errors="*{roundTripFlag}"></span>
						    </div>
						  </div>
						  <select class="form-select" id="roundTripFlag" name="roundTripFlag"
						  	th:field="*{roundTripFlag}">
						  	<option value="">選択してください</option>
						  	<option value="1">片道</option>
						  	<option value="2">往復</option>
						  </select>
						</div>

						<div class="mb-3">
						  <div class="d-flex align-items-center mb-1">
						    <label for="amount" class="form-label mb-0 mr-2">利用金額</label>
						    <div th:if="${#fields.hasErrors('amount')}" class="text-danger small">
						      <span th:errors="*{amount}"></span>
						    </div>
						  </div>
						  <input type="number" class="form-control" id="st_amount" name="amount"
						         th:field="*{amount}">
						</div>

						<div class="mb-3">
						  <div class="d-flex align-items-center mb-1">
						    <label for="purpose" class="form-label mb-0 mr-2">利用目的</label>
						    <div th:if="${#fields.hasErrors('purpose')}" class="text-danger small">
						      <span th:errors="*{purpose}"></span>
						    </div>
						  </div>
						  <input type="text" class="form-control" id="st_purpose" name="purpose"
						         th:field="*{purpose}" placeholder="例：事務所へ出社">
						</div>
						
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">追加</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
				</div>
				</form>
			</div>
		</div>
	</div>

	<!-- ② モーダル本体(定期交通費ver) -->
	<div class="modal fade" id="ctModal" tabindex="-1" aria-labelledby="ctModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg"> <!-- modal-lgで少し大きめに -->
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="ctModalLabel">定期交通費申請</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div th:if="${message}" class="alert alert-success" role="alert">
						<span th:text="${message}"></span>
					</div>
					<!-- ここに交通費フォームを入れる -->
					<form th:action="@{/application/save-commute}" method="post" th:object="${commuteTransportForm}">
						<input type="hidden" name="temporaryId" th:value="${temporaryId}" />

						<div class="mb-3">
						  <div class="d-flex align-items-center mb-1">
						    <label for="validFrom" class="form-label mb-0 mr-2">開始日</label>
						    <div th:if="${#fields.hasErrors('validFrom')}" class="text-danger small">
						      <span th:errors="*{validFrom}"></span>
						    </div>
						  </div>
						  <input type="date" class="form-control" id="validFrom" name="validFrom"
						         th:field="*{validFrom}">
						</div>

						<div class="mb-3">
						  <div class="d-flex align-items-center mb-1">
						    <label for="validUntil" class="form-label mb-0 mr-2">終了日</label>
						    <div th:if="${#fields.hasErrors('validUntil')}" class="text-danger small">
						      <span th:errors="*{validUntil}"></span>
						    </div>
						  </div>
						  <input type="date" class="form-control" id="validUntil" name="validUntil"
						         th:field="*{validUntil}">
						</div>

						<div class="mb-3">
						  <div class="d-flex align-items-center mb-1">
						    <label for="transportationFacilities" class="form-label mb-0 mr-2">利用交通機関</label>
						    <div th:if="${#fields.hasErrors('transportationFacilities')}" class="text-danger small">
						      <span th:errors="*{transportationFacilities}"></span>
						    </div>
						  </div>
						  <input type="text" class="form-control" id="ct_transportationFacilities" name="transportationFacilities"
						         th:field="*{transportationFacilities}" placeholder="例：大阪メトロ、環状線">
						</div>

						<div class="mb-3">
						  <div class="d-flex align-items-center mb-1">
						    <label for="route" class="form-label mb-0 mr-2">利用区間</label>
						    <div th:if="${#fields.hasErrors('route')}" class="text-danger small">
						      <span th:errors="*{route}"></span>
						    </div>
						  </div>
						  <input type="text" class="form-control" id="ct_route" name="route"
						         th:field="*{route}" placeholder="例：西梅田～肥後橋">
						</div>

						<div class="mb-3">
						  <div class="d-flex align-items-center mb-1">
						    <label for="amount" class="form-label mb-0 mr-2">利用金額</label>
						    <div th:if="${#fields.hasErrors('amount')}" class="text-danger small">
						      <span th:errors="*{amount}"></span>
						    </div>
						  </div>
						  <input type="number" class="form-control" id="ct_amount" name="amount"
						         th:field="*{amount}">
						</div>

						<div class="mb-3">
						  <div class="d-flex align-items-center mb-1">
						    <label for="purpose" class="form-label mb-0 mr-2">利用目的</label>
						    <div th:if="${#fields.hasErrors('purpose')}" class="text-danger small">
						      <span th:errors="*{purpose}"></span>
						    </div>
						  </div>
						  <input type="text" class="form-control" id="ct_purpose" name="purpose"
						         th:field="*{purpose}" placeholder="例：事務所へ出社">
						</div>
						
				</div>
				<div class="modal-footer">

					<button type="submit" class="btn btn-primary">追加</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
				</div>
				</form>
			</div>
		</div>
	</div>

	<!-- ② モーダル本体(業務経費ver) -->
	<div class="modal fade" id="beModal" tabindex="-1" aria-labelledby="beModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg"> <!-- modal-lgで少し大きめに -->
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="beModalLabel">業務経費申請</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div th:if="${message}" class="alert alert-success" role="alert">
						<span th:text="${message}"></span>
					</div>
					<!-- ここに交通費フォームを入れる -->
					<form th:action="@{/application/save-business}" method="post" th:object="${businessExpenseForm}"
						enctype="multipart/form-data">

						<div class="mb-3">
						  <div class="d-flex align-items-center mb-1">
						    <label for="usageDate" class="form-label mb-0 mr-2">利用日</label>
						    <div th:if="${#fields.hasErrors('usageDate')}" class="text-danger small">
						      <span th:errors="*{usageDate}"></span>
						    </div>
						  </div>
						  <input type="date" class="form-control" id="be_usageDate" name="usageDate"
						         th:field="*{usageDate}">
						</div>

						<div class="mb-3">
						  <div class="d-flex align-items-center mb-1">
						    <label for="otherExpenseItem" class="form-label mb-0 mr-2">項目</label>
						    <div th:if="${#fields.hasErrors('otherExpenseItem')}" class="text-danger small">
						      <span th:errors="*{otherExpenseItem}"></span>
						    </div>
						  </div>
						  <input type="text" class="form-control" id="otherExpenseItem" name="otherExpenseItem"
						         th:field="*{otherExpenseItem}" placeholder="例：書籍代、健康診断代">
						</div>

						<div class="mb-3">
						  <div class="d-flex align-items-center mb-1">
						    <label for="amount" class="form-label mb-0 mr-2">利用金額</label>
						    <div th:if="${#fields.hasErrors('amount')}" class="text-danger small">
						      <span th:errors="*{amount}"></span>
						    </div>
						  </div>
						  <input type="number" class="form-control" id="be_amount" name="amount"
						         th:field="*{amount}">
						</div>

						<div class="mb-3">
						  <div class="d-flex align-items-center mb-1">
						    <label for="purpose" class="form-label mb-0 mr-2">利用目的</label>
						    <div th:if="${#fields.hasErrors('purpose')}" class="text-danger small">
						      <span th:errors="*{purpose}"></span>
						    </div>
						  </div>
						  <input type="text" class="form-control" id="be_purpose" name="purpose"
						         th:field="*{purpose}" placeholder="例：「書籍名」、○○の学習のため">
						</div>
						
						<!-- 領収書ファイルアップロード欄 -->
						<div class="mb-3">
						  <div class="d-flex align-items-center mb-1">
						    <label for="receipt" class="form-label mb-0 mr-2">領収書アップロード</label>
						    <div th:if="${#fields.hasErrors('receiptValid')}" class="text-danger small">
						      <span th:errors="*{receiptValid}"></span>
						    </div>
						  </div>
						  <input type="file" class="form-control" id="receipt" name="receipt" accept="image/*,.pdf">
						</div>
						
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">追加</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
				</div>
				</form>
			</div>
		</div>
	</div>
	
	<!-- 単発交通費モーダル再表示用 -->
	<script th:if="${showStModal}">
		window.addEventListener('load', function () {
			var modal = new bootstrap.Modal(document.getElementById('stModal'));
			modal.show();
		});
	</script>

	<!-- 定期交通費モーダル再表示用 -->
	<script th:if="${showCtModal}">
		window.addEventListener('load', function () {
			var modal = new bootstrap.Modal(document.getElementById('ctModal'));
			modal.show();
		});
	</script>

	<!-- 業務経費モーダル再表示用 -->
	<script th:if="${showBeModal}">
		window.addEventListener('load', function () {
			var modal = new bootstrap.Modal(document.getElementById('beModal'));
			modal.show();
		});
	</script>
	
	<!--「追加」ボタン押下（単発交通費用）-->
	<script>
	  function handleSTAddClick() {
		
	    // フォームの中身をクリア（初期値）
	    document.getElementById("st_usageDate").value = "";
	    document.getElementById("st_transportationFacilities").value = "";
	    document.getElementById("st_route").value = "";
	    document.getElementById("roundTripFlag").value = "2"; // または初期値に
	    document.getElementById("st_amount").value = "";
	    document.getElementById("st_purpose").value = "";

		// エラーメッセージを非表示にする
		$('.text-danger').hide();
		
	    // モーダル表示
	    $('#stModal').modal('show');
	  }
	</script>

	<!--「追加」ボタン押下（定期交通費用）-->
	<script>
	  function handleCTAddClick() {

	    // フォームの中身をクリア（初期値）
	    document.getElementById("validFrom").value = "";
		document.getElementById("validUntil").value = "";
	    document.getElementById("ct_transportationFacilities").value = "";
	    document.getElementById("ct_route").value = "";
	    document.getElementById("ct_amount").value = "";
	    document.getElementById("ct_purpose").value = "";

		// エラーメッセージを非表示にする
		$('.text-danger').hide();
		
	    // モーダル表示
	    $('#ctModal').modal('show');
	  }
	</script>

	<!--「追加」ボタン押下（業務経費用）-->
	<script>
	  function handleBEAddClick() {

	    // フォームの中身をクリア（初期値）
	    document.getElementById("be_usageDate").value = "";
	    document.getElementById("otherExpenseItem").value = "";
	    document.getElementById("be_amount").value = "";
	    document.getElementById("be_purpose").value = "";

		// エラーメッセージを非表示にする
		$('.text-danger').hide();
		
	    // モーダル表示
	    $('#beModal').modal('show');
	  }
	</script>
	
	<!--「コピー」ボタン押下(共通)-->
	<script>
	function handleCopyClick() {
	  const selectedCheckboxes  = document.querySelectorAll('input[name="checkboxID"]:checked');
	  if (selectedCheckboxes.length == 0) {
	    alert("コピーする明細を選択してください。");
	    return;
	  }
	  
	  if (selectedCheckboxes.length > 1) {
	    alert("コピー対象は1件のみ選択してください。");
	    return;
	  }
	  
	  const selected = selectedCheckboxes[0];
	  
	  if(selected.dataset.expenseType == "1"){
		// データ取得
		//const usageDate = selected.dataset.usageDate || "";
		const transportation = selected.dataset.transportation || "";
		const route = selected.dataset.route || "";
		const roundTripFlag = selected.dataset.roundTripFlag || "";
		const amount = selected.dataset.amount || "";
		const purpose = selected.dataset.purpose || "";
		
		// フォームへ反映
		document.getElementById("st_usageDate").value = ""; // これで初期化
		document.getElementById("st_transportationFacilities").value = transportation;
		document.getElementById("st_route").value = route;
		document.getElementById("roundTripFlag").value = roundTripFlag;
		document.getElementById("st_amount").value = amount;
		document.getElementById("st_purpose").value = purpose;
		//document.getElementById("st_detailId").value = ""; // 明細IDがないので空
		

		// モーダルを表示（Bootstrap 4）
		$('#stModal').modal('show');

	  }else if(selected.dataset.expenseType == "2"){
		// データ取得
		//const validFrom = selected.dataset.validFrom || "";
		//const validUntil = selected.dataset.validUntil || "";
		const transportation = selected.dataset.transportation || "";
		const route = selected.dataset.route || "";
		const amount = selected.dataset.amount || "";
		const purpose = selected.dataset.purpose || "";
		
		// フォームへ反映
		document.getElementById("validFrom").value = "";
		document.getElementById("validUntil").value = "";
		document.getElementById("ct_transportationFacilities").value = transportation;
		document.getElementById("ct_route").value = route;
		document.getElementById("ct_amount").value = amount;
		document.getElementById("ct_purpose").value = purpose;
		//document.getElementById("ct_detailId").value = ""; // 明細IDがないので空

		// モーダルを表示（Bootstrap 4）
		$('#ctModal').modal('show');
	  
	  }else if(selected.dataset.expenseType == "3"){
		// データ取得
		//const usageDate = selected.dataset.usageDate || "";
		const otherExpenseItem = selected.dataset.otherExpenseItem || "";
		const amount = selected.dataset.amount || "";
		const purpose = selected.dataset.purpose || "";

		// フォームへ反映
		document.getElementById("be_usageDate").value = "";
		document.getElementById("otherExpenseItem").value = otherExpenseItem;
		document.getElementById("be_amount").value = amount;
		document.getElementById("be_purpose").value = purpose;
		//document.getElementById("be_detailId").value = ""; // 明細IDがないので空

		// モーダルを表示（Bootstrap 4）
		$('#beModal').modal('show');
	  }
	}
	</script>
	
	<!--「削除」ボタン押下(共通)-->
	<script>
	  function handleDeleteClick() {
	    // チェックボックスを取得
		const selectedCheckboxes  = document.querySelectorAll('input[name="checkboxID"]:checked');
	    //const isChecked = Array.from(checkboxes).some(cb => cb.checked);

	    if (selectedCheckboxes.length == 0) {
	      alert("削除する項目を1つ以上選択してください。");
	      return;
	    }

	    // actionのhidden inputを作成して送信
	    const form = document.getElementById("detailForm");
	    let actionInput = form.querySelector('input[name="action"]');

	    if (!actionInput) {
	      actionInput = document.createElement("input");
	      actionInput.setAttribute("type", "hidden");
	      actionInput.setAttribute("name", "action");
	      form.appendChild(actionInput);
	    }

	    actionInput.setAttribute("value", "delete");
	    form.submit();
	  }
	</script>
	
	<!--画像クリックした時-->
	<script>
	function openImage(el) {
	  const imageUrl = el.getAttribute('data-img');
	  if (imageUrl) {
	    const newWindow = window.open();
	    newWindow.document.write(`<img src="${imageUrl}" style="max-width:100%;height:auto;">`);
	  } else {
	    alert("画像が取得できませんでした");
	  }
	}
	</script>
	
</body>